.shopping_list_items {
  width: 100%;
  padding: 0px 30px;
  flex: 1;
  padding-bottom: 100px;
  overflow: auto;
}

.sl_block_title {
  color: var(--textGrey);
  font-size: 0.9rem;
}

.shopping_list_items_block {
  margin-bottom: 35px;
}
