.sl_item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20px 0px;
  position: relative;

  h4 {
    cursor: pointer;
  }
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid var(--gold);
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;

  .material-icons {
    display: none;
    color: var(--gold);
  }

  input {
    display: none;
  }

  input:checked + #check-done {
    display: block;
  }
}
