.shopping_list_wrapper {
  width: 100%;
  height: 100%;
  background: var(--cream);
  display: flex;
  flex-direction: column;
}

.shopping_list_name_container {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
