.shopping_list_hero {
  width: calc(100% - 60px);
  height: 130px;
  border-radius: 24px;
  background: var(--brown);
  margin: 40px auto;
  display: flex;

  .img_container {
    position: relative;
    min-width: 110px;
    height: 100%;
    img {
      height: 140px;
      position: absolute;
      left: 5px;
      top: -20px;
    }
  }

  .hero_text {
    height: 100%;
    // flex: 1;
    padding: 10px;
    p {
      color: var(--white);
      font-size: 1rem;
    }
  }
}
