.new_item_form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: var(--light);
  padding: 30px;
  padding-bottom: 100px;
  overflow: auto;

  .input-group {
    width: 100%;
    margin-bottom: 20px;

    input {
      border: 2px solid #bdbdbd;
      border-radius: 12px;
      padding: 20px;
      font-size: 1.1rem;
      outline: none;
      margin-top: 10px;
      height: 60px;
      transition: all 0.2s ease-in-out;
    }

    textarea {
      border: 2px solid #bdbdbd;
      border-radius: 12px;
      padding: 20px;
      font-size: 1.1rem;
      outline: none;
      margin-top: 10px;
      height: 60px;
      transition: all 0.2s ease-in-out;
      height: 110px;
    }

    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      span {
        transition: all 0.2s ease-in-out;
      }

      &:focus-within {
        textarea {
          border: 2px solid var(--gold);
        }

        input {
          border: 2px solid var(--gold);
        }
        span {
          color: var(--gold);
        }
      }

      .select_options {
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        min-height: 60px;
        max-height: 200px;
        overflow: auto;
        border-radius: 12px;
        background: var(--white);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
        padding: 10px;
        .select_option {
          height: 45px;
          width: 100%;
          border-radius: 12px;
          display: flex;
          align-items: center;
          padding-left: 15px;
          cursor: pointer;
          &:hover {
            background: #f2f2f2;
          }
        }
      }
    }
  }

  button:disabled {
    pointer-events: none;
    filter: brightness(80%);
  }
}
