.item_wrapper {
  min-width: 185px;
  max-width: 185px;
  min-height: 50px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  margin: 10px 20px 10px 0px;
  padding: 13px;
  display: flex;
  align-self: flex-start;

  @media screen and(max-width: 720px) {
    margin: 5px 10px 5px 0px;
  }

  .item_name {
    padding: 5px 0px;
    flex: 1;
    white-space: pre-wrap;
    cursor: pointer;
  }

  .item_add {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: var(--light);
    }
  }

  .item_info {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold);
    font-size: 0.9rem;
  }
}
