.confirm_modal_backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.confirm_modal {
  width: 500px;
  min-width: 200px;
  height: 220px;
  border-radius: 24px;
  background: var(--white);
  margin: 10px;
  position: relative;

  .material-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--textGrey);
  }

  .confirm_modal_title {
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 0px 30px 0px 20px;
  }
}

.confirm_modal__actions {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
}
