@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --brown: #80485b;
  --gold: #f9a109;
  --cream: #fff0de;
  --light: #fafafe;
  --white: #fff;
  --blue: #56ccf2;
  --red: #eb5757;
  --textBlack: #000;
  --textGrey: #454545;
  --textLight: #c1c1c4;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-brown {
  background: var(--brown);
}
.bg-cream {
  background: var(--cream);
}
.bg-gold {
  background: var(--gold);
}
.bg-light {
  background: var(--light);
}

#root {
  height: 100%;
  width: 100%;
}

.Toastify__toast {
  border-radius: 12px;
}

.Toastify__toast--error {
  border-radius: 12px;
  background: var(--red);
}

.Toastify__toast--info {
  border-radius: 12px;
  background: var(--cream);
  color: #454545;
}

.Toastify__toast--success {
  border-radius: 12px;
  background: var(--blue);
}

.routes_container {
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow-y: auto;
  padding: 0px 10px;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.btn {
  min-width: 100px;
  height: 40px;
  padding: 0px 20px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: brightness(90%);
  }
}

.btn-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  text-decoration: none;
  color: var(--textGrey);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    filter: brightness(90%);
  }

  &:focus {
    filter: brightness(90%);
  }
}

.btn-white {
  background: #fff;
  color: #333;
}

.btn-red {
  background: var(--red);
  color: #fff;
}

.btn-blue {
  background: var(--blue);
  color: #fff;
}

.btn-gold {
  background: var(--gold);
  color: #fff;
}
